*{
    padding: 0px;
    margin: 0px;
    font-family: Patrick Hand;
}
body {
    background-color: black;
}
img {
    width: 40%;
    margin: 40px;
    border-radius: 10px;
}
#givencaptcha {
    width: 20%;
    height: 3vh;
    border-radius: 10px;
    font-size: 20px;
    color: black;
}
button {
    width: 20%;
    margin-top: 40px;
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    font-size: 20px;
    padding: 2px;
}
button:hover {
    background-color: orange;
}
#incorrect {
    color: red;
    margin-top: 20px;
}

/* -------------Media Screen--------------- */
@media screen and (max-width:1746px) {
    #givencaptcha {
        height: 3.4vh;
    }
}

@media screen and (max-width:1536px) {
    button {
        height  : 3.8vh;
        padding: 0px;
    }
    #givencaptcha {
        height: 3.8vh;
    }
}
@media screen and (max-width:1280px) {
    button {
        height: 4.5vh;
    }
    #givencaptcha {
        height: 4.5vh;
    }
}
